/* start variables */
:root {
    --main-color: #19c8fa;
    --sec-color: #777;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
    --p-line-height: 2;
}
/* end variables */

/* start global rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
   scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;    
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
    /* start media queries */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .container {
        width: 560px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        width: 750px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container {
        width: 970px;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container {
        width: 1170px;
    }
 }
    /* end media queries */
 /* end global rules */
 
 /* start components */

 .sec {
    padding: 100px;
 }
 
 .main-heading {
     text-align: center;
     text-transform: capitalize;
 
 }
 
 .main-heading h2 {
     font-weight: normal;
     font-size: 40px;
     position: relative;
     margin-bottom: 60px;
     text-transform: uppercase;
 }
 
 .main-heading h2::before {
     content: "";
     position: absolute;
     height: 2px;
     width: 120px;
     background-color: #333;
     bottom: -50%;
     left: 50%;
     transform: translateX(-50%); 
 }
 
 .main-heading h2::after {
     content: "";
     position: absolute;
     width: 14px;
     height: 14px;
     border: 2px solid #333;
     border-radius: 50%;
     background-color: white;
     left: 50%;
     bottom: -68%;
     transform: translateX(-50%);
 }
 
 .main-heading p {
     width: 550px;
     margin: 0 auto 100px;
     line-height: var(--p-line-height);
     max-width: 100%;
     color: var(--sec-color);
 }

 /* end components */
 /* start header */
 header {
   position: absolute;
   left: 0;
   width: 100%;
   z-index: 2;
 }

 header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   min-height: 97px;
 }

 header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px) ;
    height: 1px;
    left:15px;
    bottom: 0;
    background-color: #a2a2a2;
 }

 header .container img {
    height: 40px;
 }

 header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }

 header .container nav .toggle-menu {
    color: white;
    font-size: 22px;
 }

 @media (min-width: 768px) {
    header .container nav .toggle-menu {
        display: none;
    }
 }

 header .container nav ul {
    display: flex;
 }

 @media (max-width: 767px) {
    header .container nav ul {
        display: none;
    }
    
    header .container nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgb(0 0 0 / 50%);
        width: 100%;
        padding: 15px;
    }

    header .container nav .toggle-menu:hover + ul li a {
        padding: 15px;
    }
 }

 header .container nav ul li a {
    display: block;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 10px;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 2;
 }

 header .container nav ul li a.active,
 header .container nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
 }

 header .container nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
 }

 header .container nav .form i {
    color: white;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 20PX;
 }
/* end header */
/* start landing */
.landing {
    position: relative;
    background-color: #1f2021;
    background-image: url(../imags/landing.jpg);
    background-size: cover;
    min-height: 100vh;

}
.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    color: white;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    text-transform: capitalize;
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
        text-align: center;
    }
    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text p {
    font-size: 14px;
    line-height: var(--p-line-height);
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    /* background-color: var(--main-color);
    border-radius: 50%; */
}

@media (max-width:767px) {
    .landing .change-background {
        display: none;
    }
}

.landing i:nth-child(3) {
    left: 30px;
}

.landing i:nth-child(4) {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    gap: 10px;
}

.landing .bullets li {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    background-color: transparent;
}

.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* end landing */
/* start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width: 768px) {
    .services .services-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }

    .services .services-content .srv-box i {
        margin-right: 50px;
    }
}

.services .services-content .srv-box {
    display: flex;
}

@media (max-width: 767px) {

    .services .services-content .srv-box {
        text-align: center;
        flex-direction: column;
        display: flex;
        margin-bottom: 40px;
    }

    .services .services-content i {
        margin: 0 0 30px;
    }
}

.services .services-content .srv-box h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}

.services .services-content .srv-box p {
    color: var(--sec-color);
    line-height: var(--p-line-height);
}
/* end services */
/* start design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imags/design-features.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image {
    text-align: center;
}

@media (max-width: 767px) {
    .design .image {
        display: none;
    }
}

.design .image img {
    position: relative;
    bottom: -150px;
}

.design .text {
    background-color: var(--transparent-color);
    padding: 50px;
    color: white;
}

.design .text h2 {
    font-weight: normal;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.design .text ul li {
   padding: 15px 0;
}

.design .text ul li::before {
    font-family: "Font Awesome 6 Free";
    content: "\f390";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* end design */
/* start portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.portfolio .shuffle li {
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
}

.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .imags-container {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .imags-container .box {
    position: relative;
    overflow: hidden;
}

.portfolio .imags-container .box:hover .caption {
    bottom: 0;
}

.portfolio .imags-container .box:hover img {
    transform: rotate(4deg) scale(1.1);
}

@media (min-width:767px) {
    .portfolio .imags-container .box {
        flex-basis: 50%;
    }
}

@media (min-width:1199px) {
    .portfolio .imags-container .box {
        flex-basis: 25%;
    }
}

.portfolio .imags-container .box img {
    max-width: 100%;
    transition: 0.3s;
}

.portfolio .imags-container .box .caption {
    position: absolute;
    left: 0;
    bottom: -100px;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
}

.portfolio .imags-container .box .caption h4 {
    margin-bottom: 10px;
    font-weight: normal;
}

.portfolio .imags-container .box .caption p {
    color: var(--main-color);
}

.portfolio .more  {
    padding: 20px;
    background-color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 30px auto;
}
/* end portfolio */
/* start video */
.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%); 
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: var(--transparent-color);
    width: 100%;
    text-align: center;
    color: white;
}

.video .text h2 {
    font-weight: normal;
    margin-bottom: 30px;
}

.video .text p {
    text-transform: capitalize;
    margin-bottom: 30px;
}

@media (max-width:767px) {
    .video .text {
        padding: 20px;
    }

    .video .text h2 {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .video .text p {
        display: none;
    }
}

.video .text button {
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
}
/* end video */
/* start about */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}

.about img {
   position: relative;
   bottom: -120px;
   margin-top: -120px;
   max-width: 100%;
}

@media (max-width:767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
     }
}
/* end about */
/* start stats */
.stats {
    background-image: url(../imags/stats.png);
    background-size: cover;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    text-align: center;
}

.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%); 
}

.stats .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

@media (max-width:767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}

@media (min-width:768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}

@media (min-width:992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}

.stats .container .box i {
    background-color: black;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}

.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 30px;
}
/* end stats */
/* start skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);  
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .our-skills .container > div {
        flex-basis: 45%;
    }
}

.our-skills .testimonials {
    position: relative;
}

.our-skills .container > div > h2 {
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px;
}

.our-skills .container > div > p {
    text-align: center;
    line-height: var(--p-line-height);
    color: var(--sec-color);
    margin: 0 0 60px;
}

.our-skills .content {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.our-skills .content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;
}

@media (max-width: 767px) {
    .our-skills .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .our-skills .content img {
        margin: 0 0 20px;
    }
}

@media (max-width: 992px) {
    .our-skills ,.testimonials {
        margin-bottom: 60px;
    }
}    

.our-skills .content .text {
    line-height: var(--p-line-height);
    border-bottom: 1px solid var(--sec-color);
}

.our-skills .content .text p {
    color: var(--sec-color);
    text-align: end;
    font-size: 14px;
    margin-bottom: 10px;
}

.our-skills .bullets {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    gap: 10px;
}

.our-skills .bullets li {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid var(--sec-color);
    background-color: transparent;
}

.our-skills .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.our-skills .skills .prog-holder {
    margin-bottom: 40px;
}

.our-skills .skills .prog-holder h4 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 15px;
}

.our-skills .skills .prog-holder .prog {
    width: 100%;
    height: 30px;
    background-color: #dedadc;
}

.our-skills .skills .prog-holder .prog span {
    height: 100%;
    background-color: var(--main-color);
    position: relative;
    display: block;
}

.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 20%;
    top: -40px;
    right: -18px;
}

.our-skills .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    top: -16px;
    right: -10px;
}
/* end skills */
/* start quote */
.quote {
    background-image: url(../imags/quote.jpg);
    background-size: cover;
    position: relative;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    color: white;
}

.quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
}

.quote .container {
    position: relative;
}

.quote .container q {
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
}

.quote .container q::before {
    font-family: "Font Awesome 6 Free";
    content: "\f10d";
    font-weight: 900;
    top: -5px;
    left: -10px;
    position: relative;
}

.quote .container q::after {
    font-family: "Font Awesome 6 Free";
    content: "\f10e";
    font-weight: 900;
    bottom: -5px;
    right: -10px;
    position: relative;
}
/* end quote */
/* start pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .container .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    margin-bottom: 50px;
}

@media (max-width: 1199px) {
    .pricing .container .plans {
        grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    }
}

.pricing .container .plans .box {
    text-align: center;
    background-color: #fff0f0;
}

.pricing .container .plans .box .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.pricing .container .plans .box .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
}

.pricing .container .plans .box .head span {
    font-weight: bold;
    font-size: 60px;
    position: relative;
}

.pricing .container .plans .box .head span::before {
    content: "$";
    position: absolute;
    font-size: 25px;
    font-weight: normal;
    top: 0;
    left: -20px;
}

.pricing .container .plans .box .head span::after {
    content: "/mo";
    position: absolute;
    font-size: 16px;
    text-transform: uppercase;
    bottom: 10px;
    right: -50px;
}

.pricing .container .plans .box ul {
    border-bottom: 1px solid var(--main-color);
}

.pricing .container .plans .box ul li {
    padding: 20px;
}

.pricing .container .plans .box ul li:not(:last-child) {
    position: relative;
}

.pricing .container .plans .box ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: var(--main-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* .pricing .container .plans .box .foot {
    margin-top: 30px;
    padding: 20px;
    text-transform: capitalize;
}

.pricing .container .plans .box .foot a {
    text-decoration: none;
    border: 1px solid var(--main-color);
    padding: 20px;
} */

.pricing .container .plans .box .foot a {
    display: block;
    padding: 20px;
    border: 1px solid var(--main-color);
    text-transform: capitalize;
    width: fit-content;
    text-decoration: none;
    margin: 30px auto;
}

.pricing .container > p {
    text-align: center;
    font-size: 20px;
}

.pricing .container button {
    display: block;
    text-align: center;
    color: white;
    background-color: var(--main-color);
    border-color: var(--main-color);
    padding: 15px 30px;
    margin: 30px auto;
    text-transform: capitalize;
    border: 1px solid var(--main-color);
    cursor: pointer;
}
/* end pricing */
/* start subscribe */
.subscribe {
    background-image: url(../imags/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: white;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .subscribe .container {
      flex-direction: column;
    }
}

.subscribe .container form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}

.subscribe .container form i {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);  
}

.subscribe .container form input[type="email"] {
    padding: 20px 20px 20px 60px;
    background-color: transparent;
    border: 1px solid white;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
    border-right: none;
    outline: none; 
}

.subscribe .container form ::placeholder {
    color: white;
}

.subscribe .container form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    text-transform: uppercase;
    width: 130px;
    border-left: none;
}

.subscribe .container p {
    max-width: 100%;
    margin-left: 50px;
    line-height: var(--p-line-height);
}

@media (max-width: 991px) {
    .subscribe .container p {
        margin: 30px auto;
        text-align: center;
    }
}
/* end subscribe */
/* start content */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .content {
    display: flex;
    justify-content: space-between;
}

@media (max-width:767px) {
    .contact .content {
        flex-direction: column-reverse;
    }
}

.contact .content form {
    flex-basis: 70%;
}

.contact .content form .main-input {
    display: block;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
    outline: none;
}

.contact .content form textarea {
    height: 200px;
}

.contact .content form input[type="submit"] {
    color: white;
    background-color: var(--main-color);
    padding: 20px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    display: flex;
    margin-left: auto;
}

/* 
 display: flex;
 margin: auto;
 لتوسيط عنصر فورم لا يمكن توسيطه بالمارجن استخدم هذه الاكواد

 display: flex;
 margin-left: auto;
  لتحريك عنصر فورم لا يمكن تحريكه بالمارجن استخدم هذه الاكواد
*/

.contact .content .info {
    flex-basis: 25%;
}

@media (max-width:767px) {
    .contact .content .info {
        /* order: -1; */
        text-align: center;
        margin-bottom: 30px;
    }
}

.contact .content .info h4 {
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 18px;
}

.contact .content .info span {
    display: block;
    line-height: 2;
    color: var(--sec-color);
}

.contact .content .info h4:nth-of-type(2) {
    margin-top: 80px;
}

@media (max-width:767px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 40px;
    }
}

.contact .content .info address {
    color: var(--sec-color);
    line-height: 2;
}
/* end content */
/* start footer */
footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);;
    background-image: url(../imags/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

footer .container {
    position: relative;
}

footer .container img {
    margin-bottom: 50px;
}

footer .container p:not(.copyright) {
    font-size: 22px;
    padding: 20px;
    border-bottom: 1px solid white;
    width: fit-content;
    margin: 0 auto;
}

footer .container ul {
    display: flex;
    justify-content: space-between;
    margin: 30px  auto 80px auto;
    width: 200px;
}

footer .container ul li {
    cursor: pointer;
    color: var(--main-color);
    padding: 5px;
    font-size: 25px;
}

footer .container .copyright {
    font-size: 18px;
    border: none;
}

footer .container p:last-child span {
    color: var(--main-color);
    font-weight: bold;
}
/* end footer */

/* by Omar-El-Shiref */